/ date for which this is shown and option to navigate to another date

/ calories eaten
/ calories burned
/ net calories
/ target calories
/ calorie distribution (protein, fat, carbs)
/   - pie chart
/   - 3-way bar chart
/   
/ generic amount of sports in hours and minutes?
/ generic amount of sports in kilometers?
/ 
/ list of things eaten
/ list of things done