= form_for @recipe.ingredients.first, :url => "/recipes/add_ingredient/", :remote => true do |f|
  = f.hidden_field :product_id
  = f.text_field :quantity
  = f.select :unit_proxy, @product.to_units
  /= f.submit "Lisaa"