%h1 Listing products

- @products.each do |product|
  .product
    = link_to product.name, product
    = link_to "Syo", new_product_food_entry_path(product)

%br
= will_paginate @products
%br
= link_to 'Lisää tuote', new_product_path
