= form_tag products_path, :url => "#", :method => "get", :id => 'products_search', :class => 'form' do
  %p
    %label.w Haku
    %span.w
      = text_field_tag :search, params[:search], :autocomplete => "off", :class => 'input'

= render "products"

%br
= link_to 'Lisää tuote', new_product_path, :id => "add_product_button"