%h1 Tuotteet

= form_tag new_recipe_path, :url => "#", :method => "get", :id => 'products_search' do
  = text_field_tag :search, params[:search], :autocomplete => "off"

= render "products"

%br
= link_to 'Lisää tuote', new_product_path